body {
    background-color: #F4F4F4; /* Açık gri, siyah ve kırmızı ile uyumlu */
}

h1 {
    color: #C00; /* Koyu kırmızı */
    border-style: groove;
    border-color: #000; /* Siyah kenarlık */
    border-radius: 2cm;
    border-width: 5px;
    padding: 10px; /* Kenarlık içindeki boşluk */
    background-color: #FAD4D4; /* Hafif kırmızı arka plan */
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #900; /* Koyu kırmızı */
    font-size: medium;
    font-weight: lighter;
    font-style: italic;
}

.even {
    color: #C00; /* Koyu kırmızı */
}

.odd {
    color: #C00; /* Koyu kırmızı */
}

.isim-listesi {
    color: #C00; /* Koyu kırmızı */
}

.button-container {
    display: flex;
    justify-content: space-around; /* Butonları yatay olarak aralıklı yerleştirir */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0); /* Arka plan rengini şeffaf yapar */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #900; /* Koyu kırmızı buton arka planı */
    color: #FFF; /* Beyaz yazı rengi */
    border: none; /* Buton kenarlığını kaldırır */
    border-radius: 5px; /* Buton köşelerini yuvarlar */
    cursor: pointer; /* Mouse işaretçisi buton üzerine geldiğinde el işaretine değişir */
    transition: background-color 0.3s ease; /* Geçiş animasyonu ekler */
}

button:hover {
    background-color: #000; /* Mouse butonun üzerine geldiğinde siyah arka plan */
    color: #FFF; /* Beyaz yazı rengi */
}
